/* .item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100px;
  text-align: center;
  padding: 15px;
  background-color: #fff;
}

.name {
  font-size: 32px;
  font-weight: 500;
}

.online {
  color: green;
  font-size: 24px;
  font-weight: 400;
}

.offline {
  color: red;
  font-size: 24px;
  font-weight: 400;
} */
